@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* video player */

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#codigodeconduta {
  margin: 0;
}
#politicadeprivacidade {
  margin: 0;
}
#codigodeconduta a {
  word-break: break-all;
  text-decoration: underline;
}
#politicadeprivacidade a {
  word-break: break-all;
  text-decoration: underline;
}
#codigodeconduta p {
    margin: 1rem 0;
}
#politicadeprivacidade p {
    margin: 1rem 0;
}
#codigodeconduta h2 {
  margin-top: 2.18rem;
  font-size: 2.18rem;
  line-height: 1.3;
}
#politicadeprivacidade ul {
  margin: 10px 0;
  list-style-type: disc;
}
#codigodeconduta ul {
  margin: 10px 0;
  list-style-type: disc;
}
#politicadeprivacidade li {
  list-style: circle;
}
#codigodeconduta li {
  list-style: circle;
}